$color-dark: #262626;
$color-black: #000;
$color-primary: #d3ab55;
$color-secondary: #bbb;

$font-dancingScript: "Dancing Script", cursive;
$font-josefinSans: "Josefin Sans", sans-serif;
$font-nunito: "Nunito", sans-serif;
$font-sahel: "Sahel", Tahoma;
$font-nastaliq: "Nastaliq", Tahoma;


@font-face {
    font-family: Sahel;
    src: url("../fonts/Sahel.eot");
    src: url("../fonts/Sahel.ttf") format("ttf"),
    url("../fonts/Sahel.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "Nastaliq";
    src: url("../fonts/IranNastaliq.ttf");
    font-weight: normal;
}

@mixin flexLayout {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin textStyles {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@mixin centering($topValue) {
    position: absolute;
    top: $topValue;
    left: 50%;
    transform: translate(-50%, -50%);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: $color-dark;
}