.logo {
    font-size: 70px;
    color: $color-primary;
    @include flexLayout;
    width: 110px;
    height: 110px;
    border: 3px solid $color-primary;
    border-radius: 50%;
    margin-right: 20px;
}

.main-name {
    font-family: $font-sahel;
    font-size: 50px;
    color: $color-secondary;
    @include textStyles;
}

.sub-name {
    font-family: $font-sahel;
    font-size: 18px;
    color: $color-secondary;
    text-align: center;
    @include textStyles;
}

.main-heading {
    font-family: $font-nastaliq;
    font-size: 100px;
    font-weight: 300;
    color: $color-primary;
    margin-bottom: 40px;
}

.sub-heading {
    font-family: $font-sahel;
    font-size: 60px;
    font-weight: 300;
    color: $color-secondary;
    margin-bottom: 80px;
}

.main-btn {
    width: 170px;
    height: 45px;
    font-family: $font-sahel;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color-primary;
    background-color: transparent;
    border: 1px solid $color-primary;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
        background-color: $color-primary;
        color: $color-dark;
    }
}

.card {
    width: 33.333%;
    height: 30vw;
    position: relative;
    overflow: hidden;

    &:hover .card-overlay{
        left: 0;
    }

    &-overlay {
        @extend %fullSpace;
        @include flexLayout;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: -100%;
        background-color: rgba($color-primary, 0.6);
        color: $color-white;
        z-index: 99;
        transition: all 0.5s;

        &-name {
            font-family: $font-nastaliq;
            font-size: 50px;
            @include textStyles;
        }

        &-paragraph {
            font-family: $font-sahel;
            font-size: 30px;
            margin-bottom: 30px;
            @include textStyles;
        }

        &-btn{
            width: 150px;
            height: 40px;
            color: $color-primary;
            background-color: $color-white;
            font-family: $font-sahel;
            font-size: 14px;
            border: 1px solid $color-primary;
            border-radius: 30px;
            outline: none;
            cursor: pointer;
        }
    }

    &-img {
       @extend %fullSpace;
        object-fit: cover;
        opacity: 0.5;
    }
}