.navbar {
    position: relative;
    z-index: 200;

    &-navigation{
        display: flex;

        &-left {
            width: 50vw;
            height: 100vh;
            background-color: $color-dark;
            position: fixed;
            left: -50vw;
            transition: all 0.8s cubic-bezier(1,0,0,1);

            @media (max-width: 800px) {
                display: none;
            }

            .left-img {
                width: 50%;
                position: absolute;
                box-shadow: 0 15px 60px rgba($color-black, 0.4);
                opacity: 0.7;
                border-radius: 10px;

                @media (max-width: 1300px) {
                    width: 55%;
                }

                @media (max-width: 1000px) {
                    width: 65%;
                }
            }

            .left-img-1{
                top: 15%;
                left: 15%;

                @media (max-width: 1000px) {
                    left: 5%;
                }
            }

            .left-img-2{
                top: 35%;
                left: 25%;

                @media (max-width: 1000px) {
                    left: 15%;
                }
            }

            .left-img-3{
                top: 55%;
                left: 35%;

                @media (max-width: 1000px) {
                    left: 20%;
                }
            }
        }
    
        &-right {
            width: 50vw;
            height: 100vh;
            background-color: #1f1d1d;
            position: fixed;
            right: -50vw;
            @include flexLayout;
            transition: all 0.8s cubic-bezier(1,0,0,1);

            @media (max-width: 800px) {
                width: 100vw;
                right: -100vw;
            }
        }

        .nav-list {

            &-item{
                list-style: none;
            }

            &-link {
                font-family: $font-sahel;
                font-size: 40px;
                @include textStyles;
                color: $color-secondary;
                text-decoration: none;
                display: block;
                margin: 15px;
                text-align: center;
                transition: all 0.5s;

                @media (max-width: 600px) {
                    font-size: 30px;
                }

                &:hover {
                    color: $color-primary;
                    letter-spacing: 4px;
                }
            }
        }
    }

}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
    left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
    right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu{
    transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1{
    transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2{
    opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3{
    transform: rotateZ(40deg);
}

.header {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba($color-black,0.8),rgba($color-black,0.6)) ,url("../img/bg.jpeg") center no-repeat;
    background-size: cover;

    .brand{
        @include centering(15%);
        display: flex;
        align-items: center;

        @media (max-width: 500px) {
            @include centering(12%);
        }
    }

    &-banner {
        @include centering(50%);
        text-align: center;
    }
}

.about-us {
    height: 90vh;
    display: flex;
    align-items: center;

    @media (max-width: 800px) {
        height: 70vh;
    }

    &-left {
        width: 40%;

        @media (max-width: 800px) {
            display: none;
        }

        img {
            width: 100%;
            opacity: .7;
        }
    }

    &-right {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 100px;
        box-sizing: border-box;

        @media (max-width: 1300px) {
            padding: 0 50px;
        }

        @media (max-width: 800px) {
            width: 100%;
        }

        .main-heading {
            font-size: 60px;
            margin-bottom: 20px;

            @media (max-width: 1600px) {
                font-size: 80px;
            }
        
            @media (max-width: 1000px) {
                font-size: 60px;
            }
        
            @media (max-width: 500px) {
                font-size: 40px;
                margin-bottom: 20px;
            }
        }

        .sub-heading{
            font-size: 40px;
            margin-bottom: 20px;

            @media (max-width: 1600px) {
                font-size: 50px;
                margin-bottom: 50px;
            }
        
            @media (max-width: 1300px) {
                font-size: 40px;
                margin-bottom: 30px;
            }
        
            @media (max-width: 1000px) {
                font-size: 30px;
            }
        
            @media (max-width: 500px) {
                font-size: 25px;
                margin-bottom: 20px;
            }
        }

        .starts {
            margin: 30px 0;

            @media (max-width: 1000px) {
                margin: 15px 0;
            }
        }

        .star {
            font-size: 15px;
            color: $color-primary;
            margin-left: 10px;
        
            @media (max-width: 1000px) {
                font-size: 12px;
            }
        }

        .description {
            font-family: $font-nastaliq;
            font-size: 25px;
            color: $color-secondary;
            direction: rtl;
            text-align: justify;

            &::first-letter{
                padding-right: 30px;
            }

            @media (max-width: 1600px) {
                font-size: 20px;
            } 
            
            @media (max-width: 1000px) {
                font-size: 14px;
            }
        }
    }
}

.gallery {

    .cards-wrapper{
        display: flex;
        flex-wrap: wrap;
    }
}

.footer {
    padding: 70px 0;
    @include flexLayout; 
    flex-direction: column;
    
    @media (max-width: 500px) {
        padding: 40px 0;
    }

    &-header {
        display: flex;
        align-items: center;
        margin-bottom: 70px;
    }

    .social-media{
        display: flex;
        width: 300px;
        justify-content: space-between;
        margin-bottom: 70px;

        @media (max-width: 500px) {
            width: 200px;
            margin-bottom: 40px;
        }

        &-item{
            list-style: none;   
        }

        &-link {
            text-decoration: none;
            font-size: 50px;
            color: $color-secondary;
            transition: all 0.5s;

            &:hover {
                color: $color-primary;
            }

            @media (max-width: 1000px) {
                font-size: 35px;
            }
        }

    }

    &-copyright {
        font-family: $font-sahel;
        font-size: 20px;
        color: $color-secondary;
        direction: rtl;

        @media (max-width: 800px) {
            width: 70%;
            margin: auto;
            text-align: center;
        }

        @media (max-width: 500px) {
            font-size: 14px;
        }
    }

}